# ✅ AWS 키/환경 변수 파일 보호
.env
.env.*
*.pem
.aws/
aws_credentials
**/application.properties
**/application.yml

# ✅ Gradle & 빌드 디렉터리
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# ✅ STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# ✅ IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# ✅ NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ✅ VS Code
.vscode/